<!DOCTYPE html>
<html>
    <head>
        <style>
            h1{
                color: green;
                text-align: center;
            }

            h2.renkli{
                color: red;
                text-align: center;
            }
            body{
                background-color: #b6b9b9;
            }
            .yan-yana{
                display: flex;
            }
            .yan-yana a{
                margin-right: 800px;
            }
        </style>
    </head>
    <body>
        <h1>Bu bir Başlıktır</h1>
        <p> Bu bir paragraftır <strong><em>Ilk</em></strong> defa <em>web </em>proğramlama yapıyoruz</p>
        <p>m <sup>2</sup></p>
        <p>m <sub>2</sub></p>

        <h2 class="renkli">Link Örneği</h2>
        <a href="https://www.kaggle.com/competitions/titanic/submissions"target=_blank>Bu bir linktir.</a>

        <h2>Resimli Link</h2>

        <a href="https://www.kaggle.com/competitions/3136/images/header">titanic</a>
        <br>
        <br>
        <div class="yan-yana"></div>
            <img src="https://cdn.karar.com/author/75_b.jpg" alt="resim">

            
                <a href="https://www.kaggle.com/competitions/3136/images/header">titanic</a>
                <h2>Sırasız liste Örneği</h2>
                <ul>
                    <li>Liste Örneği 1</li>
                    <li>Liste Örneği 2</li>
                    <li>Liste Örneği 3</li>
                </ul>
            </div>

     <div class="yan-yana">
        <h2>Sıralı Liste Örneği</h2>
            <li>Liste Örneği 1</li>
            <li>Liste Örneği 2</li>
            <li>Liste Örneği 3</li>
     </div>

        

    </body>
</html>